
/* task 1 */
.table-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.center
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
    border: 1px solid gray;
    padding: 100px;
}
.table-holder table tr th {
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    transition: all ease 0.4s;
}
.table-holder table tr th:hover{
    background-color: #444444;
    transition: all ease 0.4s;
}

/* task 2 */
.input-task{ 
    width: 20rem;
    height: 3rem;
    outline:none;
}

.input-task:focus{
    border: 2px solid blue;
    background: rgba(0, 0, 255, 0.075);
    color: black;
}

/* task 3 */
.table-2-holder table tr th {
    width: 10rem;
    height: 5rem;
    border: 1px solid black;

}
.table-2-holder table tr:nth-child(even){
    background-color: #444444;
}

/* task 4 */
.task-list{
    list-style: none;
    padding: 0;
    margin: 0;

}
.task-list li:nth-child(3){
    color: red;
}

/* task 5  */
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 300px;
    height: 300px;
    flex-grow: 1;
}
.box >div{
    border: 2px solid black;
    background-color: #00ff00;
    flex: 1 1 0;
    overflow: hidden;
}
.vertical{
    flex-direction: column;
}

/* task 6 */

.scroll-box-holder{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
}
.scroll-box-holder >div{
min-width: 30%;
max-width: 30%;
max-height: 40vh;
border: 2px solid black;
text-align: center;
overflow-y: scroll;
}
.scroll-box-holder > div > p{
text-align: left;
line-height: 200px;
}